Icon
.DS_Store
/.idea
/kirby
/vendor
/node_modules
/media/*
!/media/index.html
/site/cache/*
!/site/cache/index.html
/site/accounts/*
!/site/accounts/index.html
/site/sessions/*
!/site/sessions/index.html
/site/config/.license
/dist
.env
