PUID=                  # PUID=1000
PGID=                  # PGID=1000
ENABLE_XDEBUG=         # ENABLE_XDEBUG=1
XDEBUG_CONFIG=         # XDEBUG_CONFIG=remote_host=172.18.0.1
PHP_IDE_CONFIG=        # PHP_IDE_CONFIG=serverName=docker

MIX_HTTP_PORT=8080
